
<h1> <%= @user.name %>'s To Do List</h1>

 <% @tasks.each do |task| %>  
   <% unless task.description.blank? %> <%= task.description %> <% end %>
   <% unless task.due_date.blank? %> - <% end %>
   <%= task.due_date%>
   <% unless task.description.blank? %> 
   <a style="text-decoration: none" href='/delete_item/<%= task.id %>'><button class="button"> Done! </button> </a> <% end %>
   <% unless task.description.blank? %> <br> <%end%>
  <% end %> 
 

<br><br><br><br>
<form action='/<%= @user.id %> /new_item' method='POST'>
  <strong>New Task:</strong>
  <input type='text' name='task' placeholder='task content' />
  <input type='text' name='date' placeholder='due: yy/mm/dd' />
  <input type='submit' value='Save'/>
</form>
<br>
<a style="text-decoration: none" href="/#{params[:user]}">Switch Users</a>
<!-- <form action='/' method='POST'>
  <strong>Finished Task:</strong>
  <input type='text' name='completed' placeholder='finished task' />
  <input type='submit' value='Save'/>
</form> -->


